{% extends 'navbar.html' %}

{% block content %}
<div class="container mt-5">
    <h3>Demande de prêt</h3>
    <form method="post">
        {% csrf_token %}
        <div class="row">
            {% for field in form %}
            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label>{{ field.label }}</label>
                    {{ field }}
                </div>
            </div>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">Soumettre</button>
    </form>
</div>
{% endblock %}