{% extends "navbar.html" %}
{% load static %}
{% block title %}Client Dashboard - BAMK{% endblock %}

{% block content %}
<div class="max-w-4xl mx-auto bg-white p-6 rounded-lg shadow-lg mt-10">
    <h2 class="text-3xl font-bold text-deepblue">Welcome, {{ user.username }}</h2>
    <p class="text-gray-600">Manage your loans and communicate with your advisor.</p>
    
    <div class="mt-6 grid grid-cols-1 md:grid-cols-2 gap-4">
        
        <a href="{% url 'chat:chat_room' %}" class="bg-deepblue text-white p-4 rounded-lg shadow hover:bg-skyblue text-center transition">
            Chat with your advisor
        </a>
    </div>
    
    <!-- Nouvelle section pour les prêts -->
    <div class="mt-8">
        <h3 class="text-2xl font-bold text-deepblue">Loan Services</h3>
        <div class="mt-4 grid grid-cols-2 gap-4">
            <a href="{% url 'loan:loan_request' %}" class="bg-deepblue text-white p-4 rounded-lg shadow hover:bg-skyblue text-center transition">
                Apply for New Loan
            </a>
            <a href="{% url 'loan:client_loans' %}" class="bg-deepblue text-white p-4 rounded-lg shadow hover:bg-skyblue text-center transition">
                View My Loan History
            </a>
        </div>
    </div>
</div>

{% include "news/news_carousel.html" %}
{% endblock %}
